main{
    padding:15px;
}

/* Single Product Page */

.product-media .video{
    width: 100%;
    position: relative;
    padding-bottom: 54.25%;
    padding-top: 25px;
    height: 0;
    margin-top:25px;
}
.product-media .video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-media .row >div{
    padding:15px 25px;
}

.product-media .data-sheet img{
    width:100%;
    display:block;
}

.data-sheet{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.data-sheet a{
    text-align: center;
    background-color: #a7ff49;
    color:initial !important;
    border-radius: 22px;
    padding: 18px 15px;
    margin-top:10px;
}

.data-sheet a .fa{
    font-size: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

.product-media .gallery{
    margin-bottom:0;
}

.slick-slide img{
    width:100%;
}

.flex-center-align{
    display:flex;
    align-items:center;
}

.product-cta{
    text-align: center;
    background-color: #a7ff49;
    color: initial !important;
    border-radius: 22px;
    padding: 18px 10px;
    margin-top: 10px;
}

.pt{
    padding-top:35px;
}

.pb{
    padding-bottom:35px;
}

.full-image{
    width:100%;
    display:block;
    max-width:800px;
    margin:auto auto;
}

.single-product >img{
    margin-bottom:40px;
    width:100%;
    display:block;
}

.single-product .cta{
    margin: 0 0 15px 15px;
}

.single-product .title{
    text-align:center;
    margin: 10px 0 20px 0;
}




.category-list{
	display:flex;
	flex-wrap:wrap;
	margin: 0 -5px;
}

.category-list >div{
    background-color: #1e275b;
    flex-basis: calc( 50% - 10px );
    margin: 0 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.category-list >div img{
	display:block;
	width:100%;
}

.category-list >div .name{
	padding: 10px;
    text-align: center;
    background-color: #222c6b;
    color: #a7ff49;
}

.category-list .products-list{
    margin: 0 !important;
    background-color: #1e275b;
    margin-bottom: 0;
    padding: 10px;
    list-style: circle !important;
    color: #fff;
    padding-left: 35px;
}

.category-list .products-list li{
	background: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.category-list .products-list li a{
	color:#fff;
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .category-list >div{
		width:100%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px){
    .category-list >div{
		width:50%;
    }
    .product-media .row >div{
        padding:0 15px;
    }
}

@media only screen and (max-width: 480px){
    .category-list >div{
		width:100%;
    }
    .product-media .row >div{
        padding:0 15px;
    }
}

.page-id-645 .row img{
    width:100%;
    display:block;
}

.page-id-645 .row.mcm img{
    width:auto;
    display:inline;
}

.slick-slide{
    position: relative;
}

.feature-image{
    position:relative;
}

.slick-slide .caption, .feature-image .caption{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #8c8c8c;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-weight: 300;
}

.slick-next{
    right: 25px;
}

.slick-next::before{
    color:#a7ff49;
}

.slick-prev{
    left:25px;
    z-index:99;
}

.slick-prev::before{
    color: #a7ff49;
}


.home #plax-slide >.container{
    padding-left:15px;
    padding-right:15px;
    background-color: rgba(0,0,0,0.42);
}

.home #plax-slide >.container p{
    margin-bottom:0;
}

.ubermenu .ubermenu-submenu.ubermenu-column-1-4 {
  padding: 0 0 15px !important;

}

@media only screen and (max-width: 1200px){
    header .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    #logo{
        width: 250px;
    }
    .logo{
        width: 100%;
    }
}
