/*
Theme Name: Submarine
Author: Longevity Graphics
Author URI: http://www.longevitygraphics.com
Version: 1.0
Template: twentyten

div, section{
    border: 1px solid red;
}*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{background:transparent;border:0;margin:0;padding:0;vertical-align:baseline;}
body{line-height:1;}
h1, h2, h3, h4, h5, h6{clear:both;font-weight:normal;}
ol, ul{list-style:none;}
blockquote{quotes:none;}
blockquote:before, blockquote:after{content:'';content:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
a img{border:none;}
main#content{display:table-cell;margin:0;padding-right:20px;width:100%;}
main#content.one-column{display:block;margin:0;padding:0 !important;width:100%;}
section.content.left-sidebar main#content{padding-right:0px;padding-left:20px;}
aside{display:table-cell !important;min-width:380px;width:380px;vertical-align:top;}
body,
input,
textarea,
.page-title span,
.pingback a.url{font-family:Poppins, serif;}
h3#comments-title,
h3#reply-title,
nav .menu,
nav div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text{font-family:Poppins, sans-serif;}
input[type="submit"]{font-family:Poppins, sans-serif;}
pre{font-family:Poppins, Courier, monospace;}
code{font-family:Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;}
div.menu,
#branding,
section.content{margin:0 auto;width:1240px;}
section.content{background:#fff;padding:50px 0 30px 0;box-sizing:border-box;}
.home section.content{padding:0;}
#site-info{float:left;font-size:14px;font-weight:bold;width:700px;}
body{background:#fff none repeat scroll 0 0;position:absolute;width:100%;}
body,
input,
textarea{color:#666;font-size:12px;line-height:18px;}
hr{background-color:#e7e7e7;border:0;clear:both;height:1px;margin-bottom:18px;}
p{margin-bottom:18px;}
ul{list-style:disc;margin:0;padding-left:30px;}
ol{list-style:decimal;margin:0 0 18px 1.5em;}
ol ol{list-style:upper-alpha;}
ol ol ol{list-style:lower-roman;}
ol ol ol ol{list-style:lower-alpha;}
ul ul,
ol ol,
ul ol,
ol ul{margin-bottom:0;}
dl{margin:0 0 24px 0;}
dt{font-weight:bold;}
dd{margin-bottom:18px;}
strong{font-weight:bold;}
cite,
em,
i{font-style:italic;}
big{font-size:131.25%;}
ins{background:#ffc;text-decoration:none;}
blockquote{color:#81aee7;margin-top:-32px;padding:0;text-transform:uppercase;line-height:24px;}
blockquote cite,
blockquote em,
blockquote i{font-style:normal;}
pre{background:#f7f7f7;color:#222;line-height:18px;margin-bottom:18px;overflow:auto;padding:1.5em;}
abbr,
acronym{border-bottom:1px dotted #666;cursor:help;}
sup,
sub{height:0;line-height:1;position:relative;vertical-align:baseline;}
sup{bottom:1ex;}
sub{top:.5ex;}
small{font-size:smaller;}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea{background:#fff none repeat scroll 0 0;border:medium none;box-sizing:border-box;margin-bottom:8px;padding:10px;width:100%;-webkit-appearance:none;border-radius:0;}
section a:link, section a:visited{color:#81aee7;text-decoration:none;}
section a:active, section a:hover{color:#222C6B;text-decoration:none;}
a:link, a:visited. a:active, a:hover{border-radius:22;}
a:link, a:visited, a:active, a:hover, #periscope, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{text-decoration:none;-moz-transition:all .2s ease-in;-o-transition:all .2s ease-in;-webkit-transition:all .2s ease-in;transition:all .2s ease-in;-webkit-appearance:none;}
.screen-reader-text{position:absolute;left:-9000px;}
header nav .ubermenu-item .ubermenu-submenu{}
header nav .ubermenu-item .main-category{list-style-type:none !important;padding:0 !important;}
header nav .ubermenu-item .main-category h3{margin-top:5px;margin-bottom:5px;}
.ubermenu-bar-align-full{clear:none !important;}
.ubermenu-nav{float:right !important;}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target::after{display:none !important;}
.ubermenu-submenu .ubermenu-has-submenu-drop > .ubermenu-target::after{display:block !important;}
.ubermenu-items-align-left.ubermenu-horizontal .ubermenu-item.ubermenu-item-level-0, .ubermenu.ubermenu-horizontal .ubermenu-item.ubermenu-align-left{float:left !important;}
li.ubermenu-item-level-0{box-sizing:border-box !important;}
li.ubermenu-item-level-0 a{color:#222c6b !important;display:block !important;font-size:16px !important;line-height:80px !important;padding:0 18px !important;text-decoration:none !important;text-transform:uppercase !important;}
.smaller li.ubermenu-item-level-0 a{line-height:75px !important;}
li.ubermenu-item-level-0:hover{background:none no-repeat center bottom #f3f3f3 !important;}
li.ubermenu-current-menu-item:hover,
li.ubermenu-current-page-ancestor,
li.ubermenu-current-page-ancestor:hover,
li.ubermenu-active,
li.ubermenu-active:hover{background:url('./images/menu_arrow.png') no-repeat center bottom #f3f3f3 !important;}
ul.ubermenu-submenu-drop li.ubermenu-current-menu-item{background:url('') no-repeat center bottom #a7ff49;}
li.ubermenu-item-596 ul.ubermenu-submenu-drop li.ubermenu-current-menu-item{background:url('') no-repeat center bottom #222c6b !important;}
li.ubermenu-item-596 li.ubermenu-item-level-1 li.ubermenu-current-menu-item a.ubermenu-item-layout-text_only span.ubermenu-target-text{color:#a7ff49 !important}
li.ubermenu-item-503 li.ubermenu-current-menu-item a.ubermenu-item-layout-text_only span.ubermenu-target-text{color:#0a409d}
li.ubermenu-item-503 li.ubermenu-current-menu-item a.ubermenu-item-layout-text_only:hover span.ubermenu-target-text {color:#a7ff49 !important}
li.ubermenu-item-443 li.ubermenu-current-menu-item a.ubermenu-item-layout-text_only span.ubermenu-target-text{color:#0a409d}
li.ubermenu-item-443 li.ubermenu-current-menu-item a.ubermenu-item-layout-text_only:hover span.ubermenu-target-text {color:#a7ff49 !important}
li.ubermenu-current-page-ancestor li.ubermenu-current-menu-item,
li li li.ubermenu-current-menu-item,
li li li.ubermenu-current-menu-item:hover,
li li li.ubermenu-current-page-ancestor,
li li li.ubermenu-current-page-ancestor:hover,
li li li.ubermenu-active,
li li li.ubermenu-active:hover{background:none !important;}
li li li span.ubermenu-target{margin:5px 0 0 !important;padding:0 !important;}
.ubermenu-submenu{background:#222c6b none repeat scroll 0 0 !important;border:medium none !important;margin:0px 0 15px !important;overflow:hidden !important;}
.ubermenu-submenu.ubermenu-submenu-align-left_edge_item li a:hover,
.ubermenu-submenu.ubermenu-submenu-align-right_edge_item li a:hover,
li.ubermenu-current-page-ancestor li.ubermenu-current-menu-item a{background:#a7ff49;font-weight:300 !important;}
.ubermenu-current-page-ancestor .main-category{background:transparent !important;}
#menu-item-503 ul a:hover, #menu-item-443 ul a:hover{color:#a7ff49 !important;}
li.ubermenu-item-level-0 .ubermenu-submenu-type-flyout a{line-height:40px !important;text-transform:capitalize !important;}
.ubermenu-tabs-group.ubermenu-column-1-4{background:#1e275b none repeat scroll 0 0 !important;margin-top:0 !important;width:250px !important;padding-top:15px !important;}
.ubermenu-tabs-group.ubermenu-column-1-4 h3{color:#a7ff49;font-size:18px;padding-left:20px;}
.ubermenu .ubermenu-submenu.ubermenu-column-1-4{float:none !important;margin-bottom:0 !important;padding:0 0 15px !important;}
.ubermenu-submenu li a{border:medium none !important;font-weight:300 !important;text-transform:uppercase !important;font-size:14px !important;color:#fff !important;}
.ubermenu-submenu .ubermenu-tabs a,
.smaller .ubermenu-submenu .ubermenu-tabs a{color:#fff !important;display:list-item !important;line-height:22px !important;list-style-position:inside !important;list-style-type:disc;padding-bottom:0px !important;padding-top:0px !important;text-transform:capitalize !important;}
.ubermenu-submenu li a:hover,
.ubermenu-submenu li.ubermenu-active a{background:#222c6b !important;}
.ubermenu-sub-indicators .ubermenu-tabs.ubermenu-tab-layout-left > .ubermenu-tabs-group > .ubermenu-has-submenu-drop > .ubermenu-target::after{content:"" !important;}
.ubermenu .ubermenu-nav .ubermenu-column-full{overflow:hidden;}
.ubermenu .ubermenu-nav .ubermenu-column-3-4,
.ubermenu-submenu-type-tabs-group{width:78% !important;}
.ubermenu h3.ubermenu-widgettitle{color:#fff !important;font-size:20px;margin-bottom:10px !important;text-align:left;padding-top:21px;}
.ubermenu-content-block .textwidget{color:#fff !important;font-size:14px;line-height:24px;font-weight:300;}
li.ubermenu-column-1-1{width:100% !important;}
.ubermenu-content-block .textwidget p{width:430px;margin-bottom:30px !important;}
.ubermenu-content-block .textwidget img{margin-top:-45px;}
header .ubermenu .button{font-size:18px;line-height:42px;padding:0 30px !important;float:left;border-radius:22px !important;}
body header .ubermenu .button,
body header.smaller .ubermenu .button{background:#a7ff49 none repeat scroll 0 0!important;font-size:16px !important;line-height:normal !important;list-style-image:none !important;list-style-position:outside !important;list-style-type:unset !important;padding:8px 25px !important;color:#222c6b !important;border-radius:22px !important;}
header .ubermenu .button:hover{background:#fff !important;}
.water .content-column h4, .water .content-column p, .water .content-column a{color:#a7ff49 !important;font-weight:600;}
.home main#content,
.home main#content input,
.home main#content textarea{color:#232323;font-size:18px;line-height:32px;font-weight:300;}
main#content,
main#content input,
main#content textarea{color:#232323;font-size:16px;line-height:28px;font-weight:300;}
main#content p,
main#content ul,
main#content ol,
main#content dd,
main#content pre,
main#content hr{margin-bottom:24px;}
main#content ul ul,
main#content ol ol,
main#content ul ol,
main#content ol ul{margin-bottom:0;}
main#content pre,
main#content kbd,
main#content tt,
main#content var{font-size:15px;line-height:21px;}
main#content code{font-size:13px;}
main#content dt,
main#content th{color:#000;}
main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6{color:#222c6b;line-height:1.5em;margin:0 0 20px 0;}
main#content h3{margin-top:34px;}
main#content h3.nopadtop{margin-top:0;}
main#content table{border:1px solid #e7e7e7;margin:0 -1px 24px 0;text-align:left;width:100%;}
main#content tr th,
main#content thead th{color:#777;font-size:12px;font-weight:bold;line-height:18px;padding:9px 24px;}
main#content tr td{border-top:1px solid #e7e7e7;padding:6px 24px;}
main#content tr.odd td{background:#f2f7fc;}
.hentry{margin:0;}
.home .sticky{background:#f2f7fc;border-top:4px solid #000;margin-left:-20px;margin-right:-20px;padding:18px 20px;}
.single .hentry{margin:0 0 36px 0;}
.page-title{color:#000;font-size:14px;font-weight:bold;margin:0 0 36px 0;}
.page-title span{color:#333;font-size:16px;font-style:italic;font-weight:normal;}
.page-title a:link,
.page-title a:visited{color:#777;text-decoration:none;}
.page-title a:active,
.page-title a:hover{color:#ff4b33;}
main#content .entry-title{color:#222c6b;font-size:36px;font-weight:500;letter-spacing:1px;line-height:1.3em;margin-bottom:24px;position:relative;text-transform:uppercase;top:-8px;}
.entry-title a:link,
.entry-title a:visited{color:#000;text-decoration:none;}
.entry-title a:active,
.entry-title a:hover{color:#ff4b33;}
.entry-meta{color:#777;font-size:12px;}
.entry-meta abbr,
.entry-utility abbr{border:none;}
.entry-meta abbr:hover,
.entry-utility abbr:hover{border-bottom:1px dotted #666;}
main#content .entry-summary p:last-child{margin-bottom:12px;}
.entry-content fieldset{border:1px solid #e7e7e7;margin:0 0 24px 0;padding:24px;}
.entry-content fieldset legend{background:#fff;color:#000;font-weight:bold;padding:0 24px;}
.entry-content input.file,
.entry-content input.button{margin-right:24px;}
.entry-content label{color:#777;font-size:12px;}
.entry-content select{margin:0 0 24px 0;}
.entry-content sup,
.entry-content sub{font-size:10px;}
.entry-content blockquote.left{float:left;margin-left:0;margin-right:24px;text-align:right;width:33%;}
.entry-content blockquote.right{float:right;margin-left:24px;margin-right:0;text-align:left;width:33%;}
.page-link{clear:both;color:#000;font-weight:bold;line-height:48px;word-spacing:0.5em;}
.page-link a:link,
.page-link a:visited{background:#f1f1f1;color:#333;font-weight:normal;padding:0.5em 0.75em;text-decoration:none;}
.home .sticky .page-link a{background:#d9e8f7;}
.page-link a:active,
.page-link a:hover{color:#ff4b33;}
body.page .edit-link{clear:both;display:block;}
#entry-author-info{background:#f2f7fc;border-top:4px solid #000;clear:both;font-size:14px;line-height:20px;margin:24px 0;overflow:hidden;padding:18px 20px;}
#entry-author-info #author-avatar{background:#fff;border:1px solid #e7e7e7;float:left;height:60px;margin:0 -104px 0 0;padding:11px;}
#entry-author-info #author-description{float:left;margin:0 0 0 104px;}
#entry-author-info h2{color:#000;font-size:100%;font-weight:bold;margin-bottom:0;}
.entry-utility{clear:both;color:#777;font-size:12px;line-height:18px;}
.entry-meta a,
.entry-utility a{color:#777;}
.entry-meta a:hover,
.entry-utility a:hover{color:#ff4b33;}
main#content .video-player{padding:0;}
.home main#content .format-aside p,
.home main#content .category-asides p{font-size:14px;line-height:20px;margin-bottom:10px;margin-top:0;}
.home .hentry.format-aside,
.home .hentry.category-asides{padding:0;}
.home main#content .format-aside .entry-content,
.home main#content .category-asides .entry-content{padding-top:0;}
.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img{border:10px solid #f1f1f1;margin-bottom:0;}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb{float:left;margin-right:20px;margin-top:-4px;}
.home main#content .format-gallery .entry-utility,
.home main#content .category-gallery .entry-utility{padding-top:4px;}
.attachment .entry-content .entry-caption{font-size:140%;margin-top:24px;}
.attachment .entry-content .nav-previous a:before{content:'\2190\00a0';}
.attachment .entry-content .nav-next a:after{content:'\00a0\2192';}
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img{max-width:100%;height:auto;}
.alignleft,
img.alignleft{display:inline;float:left;margin-right:24px;margin-top:4px;}
.alignright,
img.alignright{display:inline;float:right;margin-left:24px;margin-top:4px;}
.aligncenter,
img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
img.alignleft,
img.alignright,
img.aligncenter{margin-bottom:12px;box-sizing:border-box;}
.wp-caption{line-height:18px;max-width:632px;text-align:center;}
.wp-caption img{margin:0;max-width:622px;}
.wp-caption p.wp-caption-text{border-bottom:1px solid #222c6b;border-top:2px solid #222c6b;color:#777;font-size:12px;margin:5px;padding:6px 0 3px;}
.wp-smiley{margin:0;}
.gallery{margin:0 auto 18px;}
.gallery .gallery-item{float:left;margin-top:0;text-align:center;width:33%;}
.gallery-columns-2 .gallery-item{width:50%;}
.gallery-columns-4 .gallery-item{width:25%;}
.gallery img{box-sizing:border-box;}
.gallery-columns-2 .attachment-medium{max-width:92%;height:auto;}
.gallery-columns-4 .attachment-thumbnail{max-width:84%;height:auto;}
.gallery .gallery-caption{color:#777;font-size:12px;margin:0 0 12px;}
.gallery dl{margin:0;}
.gallery br+br{display:none;}
main#content .attachment img{display:block;margin:0 auto;}
.navigation{color:#777;font-size:12px;line-height:18px;overflow:hidden;}
.navigation a:link,
.navigation a:visited{color:#777;text-decoration:none;}
.navigation a:active,
.navigation a:hover{color:#ff4b33;}
.nav-previous{float:left;width:50%;}
.nav-next{float:right;text-align:right;width:50%;}
#nav-above{margin:0 0 18px 0;}
#nav-above{display:none;}
.paged #nav-above,
.single #nav-above{display:block;}
#nav-below{margin:-18px 0 0 0;}
#comments{clear:both;}
#comments .navigation{padding:0 0 18px 0;}
h3#comments-title,
h3#reply-title{color:#000;font-size:20px;font-weight:bold;margin-bottom:0;}
h3#comments-title{padding:24px 0;}
.commentlist{list-style:none;margin:0;}
.commentlist li.comment{border-bottom:1px solid #e7e7e7;line-height:24px;margin:0 0 24px 0;padding:0 0 0 56px;position:relative;}
.commentlist li:last-child{border-bottom:none;margin-bottom:0;}
#comments .comment-body ul,
#comments .comment-body ol{margin-bottom:18px;}
#comments .comment-body p:last-child{margin-bottom:6px;}
#comments .comment-body blockquote p:last-child{margin-bottom:24px;}
.commentlist ol{list-style:decimal;}
.commentlist .avatar{position:absolute;top:4px;left:0;}
.comment-author{}
.comment-author cite{color:#000;font-style:normal;font-weight:bold;}
.comment-author .says{font-style:italic;}
.comment-meta{font-size:12px;margin:0 0 18px 0;}
.comment-meta a:link,
.comment-meta a:visited{color:#777;text-decoration:none;}
.comment-meta a:active,
.comment-meta a:hover{color:#ff4b33;}
.commentlist .even{}
.commentlist .bypostauthor{}
.reply{font-size:12px;padding:0 0 24px 0;}
.reply a,
a.comment-edit-link{color:#777;}
.reply a:hover,
a.comment-edit-link:hover{color:#ff4b33;}
.commentlist .children{list-style:none;margin:0;}
.commentlist .children li{border:none;margin:0;}
.nopassword,
.nocomments{display:none;}
#comments .pingback{border-bottom:1px solid #e7e7e7;margin-bottom:18px;padding-bottom:18px;}
.commentlist li.comment+li.pingback{margin-top:-6px;}
#comments .pingback p{color:#777;display:block;font-size:12px;line-height:18px;margin:0;}
#comments .pingback .url{font-size:13px;font-style:italic;}
input[type="submit"]{background:#a7ff49 none repeat scroll 0 0;border:medium none;border-radius:35px;color:#222c6b;display:block;font-size:18px;font-weight:500;margin-top:10px;padding:10px 0;text-align:center;text-transform:uppercase;width:100%;margin-bottom:-30px;-webkit-appearance:none;}
input[type="submit"]:hover{cursor:pointer;}
#respond{border-top:1px solid #e7e7e7;margin:24px 0;overflow:hidden;position:relative;}
#respond p{margin:0;}
#respond .comment-notes{margin-bottom:1em;}
.form-allowed-tags{line-height:1em;}
.children #respond{margin:0 48px 0 0;}
h3#reply-title{margin:18px 0;}
#comments-list #respond{margin:0 0 18px 0;}
#comments-list ul #respond{margin:0;}
#cancel-comment-reply-link{font-size:12px;font-weight:normal;line-height:18px;}
#respond .required{color:#ff4b33;font-weight:bold;}
#respond label{color:#777;font-size:12px;}
#respond input{margin:0 0 9px;width:98%;}
#respond textarea{width:98%;}
#respond .form-allowed-tags{color:#777;font-size:12px;line-height:18px;}
#respond .form-allowed-tags code{font-size:11px;}
#respond .form-submit{margin:12px 0;}
#respond .form-submit input{font-size:14px;width:auto;}
aside select{max-width:100%;}
.widget_search #s{width:60%;}
.widget_search label{display:none;}
.widget-container{margin:0 0 18px 0;}
.widget-container .wp-caption img{margin:auto;}
.widget-title{color:#fff;font-size:30px;margin-bottom:15px;text-align:center;text-transform:uppercase;line-height:1.2em;}
footer .widget-title{color:#81aee7;font-size:16px;font-weight:500;margin-bottom:15px;text-transform:uppercase;text-align:inherit;}
aside .entry-meta{font-size:11px;}
#wp_tag_cloud div{line-height:1.6em;}
#wp-calendar{width:100%;}
#wp-calendar caption{color:#222;font-size:14px;font-weight:bold;padding-bottom:4px;text-align:left;}
#wp-calendar thead{font-size:11px;}
#wp-calendar thead th{}
#wp-calendar tbody{color:#aaa;}
#wp-calendar tbody td{background:#f5f5f5;border:1px solid #fff;padding:3px 0 2px;text-align:center;}
#wp-calendar tbody .pad{background:none;}
#wp-calendar tfoot #next{text-align:right;}
.widget_rss a.rsswidget{color:#000;}
.widget_rss a.rsswidget:hover{color:#ff4b33;}
.widget_rss .widget-title img{width:11px;height:11px;}
#site-info{font-weight:bold;}
#site-info a{color:#000;text-decoration:none;}
#site-generator{font-style:italic;position:relative;}
#site-generator a{background:url(images/wordpress.png) center left no-repeat;color:#666;display:inline-block;line-height:16px;padding-left:20px;text-decoration:none;}
#site-generator a:hover{text-decoration:underline;}
img#wpstats{display:block;margin:0 auto 10px;}
pre{-webkit-text-size-adjust:140%;}
code{-webkit-text-size-adjust:160%;}
nav,
.entry-meta,
.entry-utility,
.navigation,
aside{-webkit-text-size-adjust:120%;}
#site-description{-webkit-text-size-adjust:none;}
@media print{body{background:none !important;}
section.content{clear:both !important;display:block !important;float:none !important;position:relative !important;}
.container{border-bottom:2pt solid #000;padding-bottom:18pt;}
#site-title,
#site-description{float:none;line-height:1.4em;margin:0;padding:0;}
#site-title{font-size:13pt;}
.entry-content{font-size:14pt;line-height:1.6em;}
.entry-title{font-size:21pt;}
nav,
#branding img,
#respond,
.comment-edit-link,
.edit-link,
.navigation,
.page-link,
aside{display:none !important;}
main#content,
.container{margin:0;width:100%;}
main#content,
main#content.one-column{margin:24pt 0 0;width:100%;}
.wp-caption p{font-size:11pt;}
#site-info,
#site-generator{float:none;width:auto;}
img#wpstats{display:none;}
#site-generator a{margin:0;padding:0;}
#entry-author-info{border:1px solid #e7e7e7;}
.home .sticky{border:none;}
}
.left{float:left;}
.right{float:right;}
header{width:100%;height:80px;position:fixed;top:0;left:0;z-index:999;background-color:#fff;box-shadow:0 -5px 10px #000;-webkit-transition:height 0.3s;-moz-transition:height 0.3s;-ms-transition:height 0.3s;-o-transition:height 0.3s;transition:height 0.3s;}
#logo{position:relative;float:left;z-index:999;}
#logo h1{height:0;text-indent:-9999px;}
.logo{width: 300px;display:inline-block;font-family:"Oswald", sans-serif;font-size:60px;color:white;font-weight:400;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
header.smaller{height:75px;}
header.smaller .logo{width: 270px;}
header.smaller nav a{line-height:75px;}
section.slider{position:fixed;width:100%;z-index:-1;}
section.content.special{margin-top:44vw;}
.home h2.entry-title{display:none;}
main#content .container{padding:30px 0;}
main#content .container.extrapad{padding:75px 0;}
.line{text-align:center;}
.line h2{background:#fff none repeat scroll 0 0;display:inline-block;font-size:36px;font-weight:300;padding:0 20px;position:relative;text-transform:uppercase;width:auto;z-index:10;}
.line h2 span{display:block;font-size:60px;font-weight:400;}
.line p{display:inline-block;margin-top:-30px;max-width:825px;position:relative;}
.parallax-mirror[style]{z-index:0 !important;}
#plax-slide{margin:0 auto;width:100%;position:relative;display:flex;align-items:center;}
#plax-slide >.container{display:flex;flex-wrap:wrap;}
#plax-slide .content-column{float:none;}
.water .container{color:#fff;font-size:15px;font-weight:400;line-height:28px;text-align:center;}
.water .container h4{border-bottom:1px solid rgba(255, 255, 255, 0.6);display:inline-block;font-size:20px;font-weight:500;margin-bottom:30px !important;min-width:65%;padding-bottom:2px;text-transform:uppercase;}
.water .icon{display:none;}
.water .container .icon{height:50px;margin-bottom:15px;}
.water .container .icon.prop{background:url('./images/w-prop.png') no-repeat center center transparent;}
.water .container .icon.waves{background:url('./images/w-waves.png') no-repeat center center transparent;}
.water .container .icon.helmet{background:url('./images/w-helmet.png') no-repeat center center transparent;}
.water .container a{color:#fff;display:block;letter-spacing:1px;margin-top:25px;position:relative;right:-5px;text-transform:capitalize;}
.water .container a:hover{color:#a7ff49;}
.water{box-sizing:border-box;height:600px;padding-top:70px;}
.fullwidth.blue{background:#222c6b none repeat scroll 0 0;}
.fullwidth.cta{border-bottom:5px solid #a7ff49;letter-spacing:1px;}
.fullwidth.cta h5{color:#fff !important;font-size:30px;margin-bottom:-5px !important;text-transform:uppercase;}
.fullwidth.cta p{color:#81aee7;margin-bottom:0 !important;}
.fullwidth.cta a{background:#a7ff49 none repeat scroll 0 0;border-radius:35px;color:#222c6b;display:block;font-size:24px;font-weight:500;padding:15px 0;text-align:center;text-transform:uppercase;}
.fullwidth.cta a:hover{background:#fff;}
.fullwidth.cta br{display:none;}
.topimage{margin-top:100px;}
@media screen and (max-width:1000px){.topimage{margin-top:75px;}
}
aside section{background:#222c6b none repeat scroll 0 0;border-bottom:5px solid #a7ff49;box-sizing:border-box;color:#81aee7;font-size:16px;line-height:22px;padding:30px;text-align:center;}
aside section form{margin-top:20px;}
.hms-testimonials-rotator{background:#fff none repeat scroll 0 0;color:#232323;font-size:16px;margin:40px 0 0px;padding:50px 60px 50px;text-align:center;}
.hms-testimonials-rotator .hms-testimonial-container{position:relative;}
.hms-testimonials-rotator .hms-testimonial-container::before{content:'\f10d';font-family:FontAwesome;color:#222c6b;font-size:50px;left:0;line-height:normal;position:absolute;}
.hms-testimonials-rotator .hms-testimonial-container::after{content:'\f10e';font-family:FontAwesome;bottom:-5px;color:#222c6b;font-size:50px;line-height:normal;position:absolute;right:0;}
.hms-testimonials-rotator .hms-testimonial-container .testimonial::before{}
.hms-testimonials-rotator .hms-testimonial-container .testimonial{padding:0 100px;}
.hms-testimonials-rotator .hms-testimonial-container .author{font-weight:500;margin-top:35px;text-transform:uppercase;}
.hms-testimonial-group{}
.hms-testimonial-group .hms-testimonial-container{padding:20px 0;}
.hms-testimonial-group .hms-testimonial-container::after{border:1px solid #e7e7e7;content:"";display:block;margin:0 auto;position:relative;width:80%;}
.hms-testimonial-group img{float:left;margin-right:25px;}
.hms-testimonial-group img[style]{max-width:150px;max-height:150px;width:inherit !important;height:auto !important;}
.hms-testimonial-group .testimonial{}
.hms-testimonial-group .author{font-size:14px;font-weight:600;margin-top:20px;padding-bottom:30px;padding-right:25px;text-align:right;text-transform:uppercase;}
.fullwidth.wave{border-bottom:83px solid #a7ff49;}
.fullwidth.wave img{display:inherit;margin:0 auto -107px;position:relative;right:-50px;}
#copyright, #longevity{display:inline-block;width:50%;vertical-align:top;}
#longevity{text-align:right;}
footer.fullwidth{background:#222c6b none repeat scroll 0 0;color:#5d85ba;font-size:14px;line-height:24px;}
footer .container{padding:50px 0;}
footer section{box-sizing:border-box;display:inline-block;letter-spacing:1px;vertical-align:top;width:33.3%;}
footer section:nth-child(1){padding-right:30px;}
footer section:nth-child(2){padding-left:30px;}
footer section:nth-child(3){padding-left:30px;text-align:right;}
footer section a,
footer section span{color:#a7ff49 !important;text-transform:uppercase;}
footer section a:hover{color:#81aee7 !important;}
footer section a u{color:#5d85ba !important;}
.bottom-foot{background:#1e275b none repeat scroll 0 0;color:#5d85ba;font-size:11px;font-weight:500;margin-top:-18px;padding:25px 0;position:relative;z-index:99;}
.bottom-foot a{color:#5d85ba;}
.bottom-foot a:hover{color:#a7ff49;}
#periscope{bottom:-48px;display:block;margin:0 auto;position:relative;z-index:0;}
#periscope:hover{bottom:-27px;}
#social{margin-bottom:10px;margin-right:15px;overflow:hidden;}
#social a{border-radius:20%;display:inline-block;height:25px;margin:0 8px 5px;padding:5px;text-indent:-9999px;transition-duration:0.3s;width:25px;}
#social a:hover{background-color:#81aee7 !important;}
#social a#linkedin{background:#a7ff49 url("./images/s-linkedin.png") no-repeat scroll center center;}
#social a#facebook{background:#a7ff49 url("./images/s-facebook.png") no-repeat scroll center center;}
#social a#youtube{background:#a7ff49 url("./images/youtube-icon.png") no-repeat scroll center center;background-size:25px;}
#social a#twitter{background:#a7ff49 url("./images/twitter-icon.png") no-repeat scroll center center;background-size:25px;}
section.content .widget_nav_menu{padding-left:30px;padding-right:0;}
section.content.left-sidebar .widget_nav_menu{padding-left:0;padding-right:30px;}
article.post{margin-bottom:15px;}
article.post .date,
article.post .info{display:table-cell;padding:0;vertical-align:top;}
article.post .date{width:135px;padding-right:10px;}
article.post .info{padding-left:10px;}
article.post .info .entry-content{font-size:15px;line-height:25px;}
article.post p{margin-bottom:0 !important;}
h2.news-title{margin-bottom:0 !important;line-height:25px !important;}
h2.news-title a{color:#222c6b;font-size:18px;}
h2.news-title a:hover{color:#81aee7;}
.mtli_pdf::after{background:transparent url("./images/pdf.png") no-repeat scroll center center;content:"";display:inline-block;height:16px;margin-left:6px;position:relative;top:1px;width:16px;*/}
.mtli_pdf{background:none !important;}
#content .mtli_attachment{padding-right:0 !important;}
.wp-pagenavi{display:block;float:left;font-size:12px;margin-left:155px;padding:45px 0 30px;}
.wp-pagenavi a, .wp-pagenavi span{border:1px solid #222c6b !important;border-radius:8px;color:#222c6b !important;font-weight:500;margin:2px;padding:3px 8px !important;text-decoration:none;display:inline-block;}
.wp-pagenavi span.current{background:#a7ff49 none repeat scroll 0 0;border:1px solid #a7ff49;border-radius:8px;color:#222c6b !important;}
.wp-pagenavi a:hover{background:#222c6b none repeat scroll 0 0;border:1px solid #222c6b;border-radius:8px;color:#fff !important;}
.wp-pagenavi a:hover, .wp-pagenavi span.current{border-color:#000;border-radius:8px;}
.narchives li{display:inline-block;list-style:outside none none;width:32%;}
.narchives a:hover{color:#a7ff49;}
div.wpcf7{position:relative;}
.wpcf7-form img.wpcf7-form-control{margin-top:-30px;position:absolute;right:0px;}
span.wpcf7-not-valid-tip, div.wpcf7-mail-sent-ok{display:none !important;}
.wpcf7-not-valid{border:1px solid #a7ff49 !important;}
div.wpcf7-validation-errors{border:medium none !important;color:#a7ff49;margin:0 !important;padding:0 !important;font-size:14px;}
.page-template-fullwidth-page section.content{width:100% !important;overflow:hidden;}
section.content,
div.menu,
#branding,
.container{width:1240px;}
.fullwidth{width:100%;margin:0 auto;}
.container{margin:0 auto;}
@media screen and (max-width:1280px){section.content, .container{width:94% !important;}
div.menu,
#branding,
.container{margin:0 auto;width:100%;}
aside{overflow:hidden;width:23.40425535%
padding-left:0 !important;}
li.ubermenu-item-level-0 a{padding:0 15px !important;}
}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target>.ubermenu-sub-indicator{right:1px !important;}
@media screen and (max-width:1024px){header{height:75px;}
header .logo{height:75px;line-height:75px;}
section.slider{margin-top:75px;}
section.content.special{margin-top:53vw;}
.fullwidth.wave{border-bottom:none;}
.fullwidth.wave img{margin:0;right:0;width:100%;top:24px;}
}
@media screen and (max-width:940px){}
@media screen and (max-width:768px){section.content, .container, main#content, aside, section.content.left-sidebar main#content{display:block;width:100% !important;padding:0 10px;margin:0;box-sizing:border-box;min-width:inherit;min-width:initial;min-width:unset;}
section.content{padding:0 !important;}
section.content .widget_nav_menu,
section.content.left-sidebar .widget_nav_menu{padding-right:0px;padding-left:0px;}
aside{margin-top:20px;}
#copyright, #longevity{display:block;text-align:center;width:100%;}
main#content .container{padding:30px 20px;box-sizing:border-box;}
main#content .container.extrapad{padding:50px 20px;}
.page-template-fullwidth-page section.content{overflow:hidden;}
.full_width, .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{width:100% !important;}
.one_half div[style],
.one_third div[style]{padding-left:0 !important;padding-right:0 !important;}
.water{height:900px;padding-top:0;}
.fullwidth.cta{text-align:center;}
.fullwidth.cta a{margin-top:20px;}
.hms-testimonials-rotator{padding:0 0 25px 0;}
.hms-testimonial-container .testimonial,
.hms-testimonial-container .author{padding:0 50px;}
footer section:nth-child(1), footer section:nth-child(2), footer section:nth-child(3){padding:0 0 30px;text-align:center;width:100%;}
#longevity{margin-top:10px;}
footer .container{padding:50px 20px;}
#periscope{bottom:-27px;}
#social{margin-right:0;}
main#content{margin:50px 0 0;}
.content.special main#content{margin:0;}
.wp-pagenavi span.pages, a.first, span.extend, a.page.smaller, a.page.larger, a.larger.page, a.last{display:none;}
.wp-pagenavi{display:block;float:none;margin:0 auto;text-align:center;}
}
@media screen and (max-width:603px){.alignright, img.alignright,
.alignleft, img.alignleft{display:block;float:none;margin:0 auto 20px;}
main#content ul li{margin-left:0;}
}
@media screen and (max-width:520px){img.parallax-slider[style]{left:0 !important;}
.water{height:1000px;}
.water .container{text-shadow:1px 1px 1px #000;}
.line hr{display:none;}
.line h2{font-size:8vw;margin-bottom:55px !important;}
.line h2 span{font-size:12vw;}
section.content.special{margin-top:59vw;}
.fullwidth.cta h5{margin-bottom:15px !important;}
.fullwidth.cta a{font-size:20px;}
.hms-testimonial-container::before,
.hms-testimonial-container::after{font-size:30px;}
.hms-testimonial-container .testimonial, .hms-testimonial-container .author{padding:0 40px;}
article.post .date, article.post .info{display:block !important;padding:0 !important;}
article.post{margin-bottom:30px;}
}
@media screen and (max-width:480px){.water{height:1100px;}
header .logo,
header.smaller .logo{margin-top:8px;height:60px;}
section.content.special{margin-top:66vw;}
.rslides img{min-height:75px;}
main#content .entry-title{font-size:24px;}
.hms-testimonials-rotator{padding:20px 0 0;}
.hms-testimonials-rotator .hms-testimonial-container::before,
.hms-testimonials-rotator .hms-testimonial-container::after{font-size:25px;}
.hms-testimonials-rotator .hms-testimonial-container .testimonial::before{}
.hms-testimonials-rotator .hms-testimonial-container .testimonial{padding:0 35px;}
.wc-gallery .gallery-columns-4 .gallery-item{width:48% !important;margin:0 1%;}
}
@media screen and (max-width:320px){}
@media only screen and (min-width:768px){.scroll-back-to-top-wrapper{display:none;}
}
